.headerBar {
    width: 100%;
    background-color: #1ebea5;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;

    .barraNav {
        min-width: 75%;
        display: inherit;
        align-items: inherit;
        justify-content: inherit;

        .divImage {
            height: 40px;
            width: 140px;
            margin-right: 20px;
            background-image: url('../images//logoBar.svg');
            background-repeat: no-repeat;
        }

        .contNav {
            width: 90%;

            .icons-nav {
                display: none;
            }

            .navigation {

                .selection,
                .listUl .contact {
                    display: none;
                }

                .listUl {
                    display: flex;
                    align-items: center;
                    list-style: none;

                    li {
                        font-size: 12px;
                        font-weight: 600;
                        font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
                        letter-spacing: .8px;
                        color: #fff;
                        margin-left: 60px;

                        a {
                            text-transform: uppercase;
                            text-decoration: none;
                            color: inherit;
                        }
                    }
                }
            }
        }

        .bt-icon {
            display: none;
        }
    }
}

@media screen and (max-width: 1096px) {
    .headerBar {
        height: 74px;

        .barraNav {
            width: 95%;
            justify-content: space-around;

            .divImage {
                height: 40px;
                width: 40px;
                background-image: url('../images//logoSmall.svg');
                background-repeat: no-repeat;
            }

            .contNav {
                width: 90%;

                .navigation {

                    .listUl {
                        justify-content: space-between;

                        li {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .headerBar {
        height: 152px;
        position: initial;

        .barraNav {
            height: 100%;
            width: 100%;
            flex-direction: column-reverse;

            .divImage {
                height: 77px;
                width: 77px;
                background-size: auto 77px;
            }

            .bt-icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-right: 20px;

                i {
                    color: #fff;
                }
            }

            .oculto {
                transform: translateX(100%);
            }

            .contNav {
                transition: .4s;
                z-index: 100;
                width: 100%;
                background-color: #1ebea5;
                position: fixed;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                flex-direction: column;

                .navigation {
                    width: 80%;

                    .selection {
                        display: block;
                        margin-top: 40px;
                        width: 150px;
                    }

                    .listUl {
                        display: grid;
                        grid-template-columns: 1fr;

                        .web {
                            display: none;
                        }

                        .contact {
                            display: flex;
                        }

                        li {
                            display: flex;
                            font-size: 16px;
                            font-weight: 500;
                            border-bottom: 1px solid rgba(255, 255, 255, .2);

                            a {
                                text-transform: capitalize;
                                width: 100%;
                                padding-top: 15px;
                                padding-bottom: 15px;
                            }
                        }

                        li:nth-child(3) {
                            grid-row: 1/2;
                        }
                    }
                }

                .icons-nav {
                    width: 95%;
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;

                    .close {
                        color: #fff;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}