.headerBar {
  width: 100%;
  background-color: #1ebea5;
  height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 1000;
}

.headerBar .barraNav {
  min-width: 75%;
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.headerBar .barraNav .divImage {
  height: 40px;
  width: 140px;
  margin-right: 20px;
  background-image: url("../images//logoBar.svg");
  background-repeat: no-repeat;
}

.headerBar .barraNav .contNav {
  width: 90%;
}

.headerBar .barraNav .contNav .icons-nav {
  display: none;
}

.headerBar .barraNav .contNav .navigation .selection,
.headerBar .barraNav .contNav .navigation .listUl .contact {
  display: none;
}

.headerBar .barraNav .contNav .navigation .listUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.headerBar .barraNav .contNav .navigation .listUl li {
  font-size: 12px;
  font-weight: 600;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: .8px;
  color: #fff;
  margin-left: 60px;
}

.headerBar .barraNav .contNav .navigation .listUl li a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.headerBar .barraNav .bt-icon {
  display: none;
}

@media screen and (max-width: 1096px) {
  .headerBar {
    height: 74px;
  }
  .headerBar .barraNav {
    width: 95%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .headerBar .barraNav .divImage {
    height: 40px;
    width: 40px;
    background-image: url("../images//logoSmall.svg");
    background-repeat: no-repeat;
  }
  .headerBar .barraNav .contNav {
    width: 90%;
  }
  .headerBar .barraNav .contNav .navigation .listUl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerBar .barraNav .contNav .navigation .listUl li {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .headerBar {
    height: 152px;
    position: initial;
  }
  .headerBar .barraNav {
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .headerBar .barraNav .divImage {
    height: 77px;
    width: 77px;
    background-size: auto 77px;
  }
  .headerBar .barraNav .bt-icon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 20px;
  }
  .headerBar .barraNav .bt-icon i {
    color: #fff;
  }
  .headerBar .barraNav .oculto {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .headerBar .barraNav .contNav {
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 100;
    width: 100%;
    background-color: #1ebea5;
    position: fixed;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerBar .barraNav .contNav .navigation {
    width: 80%;
  }
  .headerBar .barraNav .contNav .navigation .selection {
    display: block;
    margin-top: 40px;
    width: 150px;
  }
  .headerBar .barraNav .contNav .navigation .listUl {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .headerBar .barraNav .contNav .navigation .listUl .web {
    display: none;
  }
  .headerBar .barraNav .contNav .navigation .listUl .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerBar .barraNav .contNav .navigation .listUl li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .headerBar .barraNav .contNav .navigation .listUl li a {
    text-transform: capitalize;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .headerBar .barraNav .contNav .navigation .listUl li:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .headerBar .barraNav .contNav .icons-nav {
    width: 95%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerBar .barraNav .contNav .icons-nav .close {
    color: #fff;
    font-size: 30px;
  }
}
/*# sourceMappingURL=main.css.map */