@mixin BarraSearch {
    .disabled {
        background-color: #f7f7f7;
    }

    .active {
        background-color: #fff;
        box-shadow: -1px 1px 10px -6px black;
    }

    .search {
        border-right: 1px solid #D5DBDB;
        height: 35px;
        padding: 7px 15px;
        z-index: 800;

        .searchChat {
            color: #85929E;
            height: 100%;
            border-radius: 20px;
            background-color: #fff;
            display: grid;
            align-items: center;
            grid-template-columns: 35px 1fr 35px;

            i {
                cursor: pointer;
            }

            .iconos {
                width: 20px;
                height: 24px;
                padding-left: 16px;
                padding-top: 3px;

                .arrow {
                    animation: arrow .3s;
                    color: #3498DB;
                }
            }

            .iconLupa {
                font-size: 20px;
            }

            .campoTexto {
                margin-left: 30px;
                display: flex;
                align-items: center;
                height: 70%;
                width: 90%;

                label {
                    position: absolute;
                    font-size: 14px;
                    transform: translateY(-2px);
                }

                input {
                    width: 100%;
                    height: 100%;
                    font-size: 15px;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    position: relative;
                }
            }

            .close {
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
}

@keyframes arrow {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(-90deg);
    }
}