@import "menuChat";
@import "barraSearch";
@import "contactos";
@import "nuevoChat";
@import "nuevaConversacion";
@import "perfil";
@import "scrollBar";

.father {
    font-family: "Segoe UI";
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;

    .contactos {
        position: relative;

        .atras {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 200;
            animation: mover .1s ease-out;
            @include nuevoChat;
            @include perfil;
        }

        .principal {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 100;

            .secundario {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 60px 49px 1fr;



                .header {
                    position: relative;
                    padding: 10px 12px;
                    display: flex;
                    align-items: center;
                    background-color: #ededed;

                    .avatar {
                        flex-grow: 1;

                        .perfil {
                            cursor: pointer;
                        }
                    }

                    .obtions {
                        width: 140px;
                        height: 40px;
                        display: inherit;
                        align-items: center;
                        justify-content: space-around;
                    }
                }

                @include contactosUser;
                @include Menuchat;
            }
        }
    }

    @include BarraSearch;
    @include nuevaConversacion;

    .combersacion {
        background-color: #f8f9fa;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .info {
            width: 55%;
            height: 100%;

            color: #4a4a4a;
            display: inherit;
            align-items: inherit;
            justify-content: inherit;

            .information {

                display: inherit;
                align-items: inherit;
                flex-direction: column;
                justify-content: space-between;

                img {
                    width: 50%;
                }

                h1 {
                    font-weight: 300;
                    margin-bottom: 10px;
                }

                .info {
                    font-size: 14px;
                    opacity: .5;
                    width: 100%;
                    padding-bottom: 40px;
                    border-bottom: 1px solid #EAEDED;
                }

                .mac {
                    font-size: 14px;
                    opacity: .5;
                    display: flex;
                    align-items: inherit;
                    justify-content: inherit;
                    padding-bottom: 30px;

                    i {
                        margin-right: 5px;
                    }

                    span {
                        color: #4adf83;
                    }
                }

            }

        }

        &::after {
            content: "";
            width: 100%;
            height: 6px;
            background-color: #4adf83;
            bottom: 0;
            position: absolute;
        }
    }

    @include scrollBar;

}

@keyframes mover {
    to {
        transform: translateX(0%);
    }

    from {
        transform: translateX(-100%);
    }
}

@keyframes atras {
    to {
        transform: translateX(-100%);
    }

    from {
        transform: translateX(0%);
    }
}