@import "scrollBar";

@mixin contactosUser {
    .chat {
        border-right: 1px solid #D5DBDB;
        overflow: hidden;

        .noTcontac {
            padding: 50px 30px;

            p {
                color: #ABB2B9;
                font-size: 14px;
            }
        }

        .listaDeContacts {
            height: 100%;
            overflow-y: auto;
            position: relative;

            .vistaContacts {
                cursor: pointer;

                .daniel {
                    height: 72px;
                    display: flex;
                    align-items: center;

                    .avatar {
                        width: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .perfil {
                            height: 49px;
                            width: 49px;
                        }
                    }

                    .datosUser {
                        height: 100%;
                        width: 82%;
                        border-bottom: 1px solid #EAEDED;
                        display: grid;
                        align-items: flex-start;

                        .datosContact {
                            height: 100%;
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;

                            h3 {
                                font-weight: 500;
                            }

                            p {
                                font-size: 12px;
                            }
                        }

                        .date {
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            overflow: hidden;

                            .recado {
                                color: #808B96;
                                font-size: 14px;
                                font-weight: 400;
                            }

                            span {
                                display: inherit;
                                align-items: center;
                                transition: .1s;
                                transform: translateX(20px);

                                p {
                                    height: 18px;
                                    width: 18px;
                                    text-align: center;
                                    font-size: 12px;
                                    border-radius: 50%;
                                    background-color: #06d755;
                                    color: #fff;
                                }

                                i {
                                    color: #ABB2B9;
                                    width: 18px;
                                    height: 18px;
                                    font-size: 30px;
                                    margin-left: 5px;
                                    z-index: 100;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: #f2f4f4;

                        span {
                            transform: translateX(0) !important;
                        }
                    }
                }
            }

            @include scrollBar;
        }
    }
}