%toolbelt {
    margin-bottom: 20px;
}

.section1 {
    padding-top: 140px;
    display: flex;
    justify-content: center;

    .contMenssge {
        width: 900px;
        display: flex;

        .menssage {
            width: 100%;
            font-family: "Segoe UI";
            display: flex;
            align-items: center;
            justify-content: center;

            .cdm {
                height: 60%;
                width: 80%;

                .title {
                    color: #1c1e21;
                    font-weight: 100;
                    @extend %toolbelt;
                }

                .callMenssage {
                    color: #282828;
                    @extend %toolbelt
                }

                .cargos {
                    font-size: 12px;
                    opacity: .3;

                }

                .platafors {
                    margin-top: 40px;

                    ul {
                        list-style: none;

                        li {
                            margin-bottom: 15px;
                            display: flex;
                            align-items: center;
                            justify-self: center;
                            color: #1ebea5;

                            .a {
                                font-size: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

        }

        .menssageImage {
            width: 70%;

            img {
                width: 100%;
            }
        }
    }
}

.section2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-family: "Segoe UI";
    color: #282828;

    .aplicacion {

        background-color: #d0e9ea;
        overflow: hidden;
        text-align: center;
        height: 790px;

        .cargosAdd {
            display: none;
        }

        .info {
            width: 74%;
            margin: 13%;
            text-align: center;

            h2 {
                font-weight: 100;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                margin-bottom: 20px;

                span {
                    color: #39b3ed;
                }
            }

        }

        img {
            width: 320px;
        }
    }

    .seguridad {
        background-color: #edf8f5;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #282828;

        .seg {
            width: 75%;
            height: 80%;
            display: inherit;
            align-items: inherit;
            flex-direction: column;
            text-align: center;

            .none {
                height: 300px;
                width: 300px;
                border-radius: 50%;
                background-color: royalblue;
                margin-bottom: 20px;
            }

            h2 {
                font-weight: 100;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }

            .sifra {
                letter-spacing: .3px;
                font-size: 13px;
                margin-bottom: 10px;
            }

            .tema {
                font-size: 14px;
            }
        }

    }
}

.funcones {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;

    a {
        font-family: "Segoe UI";
        color: #1ebea5;
        text-decoration: none;
        font-weight: 600;
        padding: 17px;
        text-align: center;
        width: 200px;
        border: 2px solid #1ebea5;
        border-radius: 40px;
    }
}

@media screen and (max-width: 1096px) {
    .section1 {
        .contMenssge {
            width: 700px;

            .menssage {
                width: 75%;
                align-items: flex-start;
                justify-content: start;

                .cdm {
                    margin: 40px;
                    width: 75%;

                    .cargos {
                        display: none;
                    }
                }
            }
        }
    }

    .section2 {
        .aplicacion {
            height: 780px;
        }
    }
}

@media screen and (max-width: 767px) {
    .section1 {
        padding-top: 0px;

        .contMenssge {
            width: 100%;
            height: 630px;
            background-color: #1ebea5;
            display: grid;
            overflow: hidden;

            .menssage {
                width: 100%;
                justify-content: center;

                .cdm {
                    width: 90%;
                    margin: 0;

                    .title {
                        color: #fff;
                        font-size: 25px;
                        text-align: center;
                        margin-top: 20px;
                    }

                    .callMenssage {
                        font-size: 15px;
                        color: #fff;
                        text-align: center;
                    }
                }

                .googlePlay {
                    margin-top: 40px;
                    width: 100%;
                    height: 50px;
                    background-image: url("../images//googlePlay.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                }

                .platafors {
                    display: none;
                }
            }

            .menssageImage {
                width: 100%;
                margin-top: 40px;
                text-align: center;

                img {
                    width: 40%;
                }
            }
        }
    }

    .section2 {
        display: inline;

        .aplicacion {
            display: flex;
            flex-direction: column;
            align-items: center;

            .info {
                width: 88%;
                margin: 30px;
            }

            .cargosAdd {
                width: 90%;
                margin-top: 10px;
                display: block;
                font-size: 12px;
                opacity: .6;

            }
        }

        .seguridad {
            .seg {
                width: 85%;
                margin-top: 40px;
                margin-bottom: 60px;
                text-align: center;
            }
        }
    }
}