@import "scrollBar";

@mixin infoContacto {
    .infoUser {
        display: flex;
        flex-direction: column;

        .header {
            background-color: #ededed;
            padding: 10px 16px;

            .infoContacto {
                height: 40px;
                display: flex;
                align-items: center;
                color: #4a4a4a;

                span {
                    width: 40px;
                    text-align: center;
                    display: inherit;
                    justify-content: center;

                    i {
                        cursor: pointer;
                    }
                }

                .title {
                    margin-left: 23px;
                    margin-bottom: 5px;
                }
            }

        }

        .datosContacto {
            width: 370px;
            background-color: #ededed;
            overflow-y: auto;

            &>div {
                margin-bottom: 10px;
                background-color: #fff;
                box-shadow: -1px 6px 10px -6px rgba($color: #000000, $alpha: 0.2);
            }

            .avatarContac {
                height: 290px;

                h3 {
                    margin-left: 30px;
                }

                .perfil {
                    padding: 20px 90px;

                    .avatar {
                        height: 180px;
                        width: 180px;
                        cursor: pointer;
                    }
                }
            }

            .documentos {
                height: 120px;

                .enlaces {
                    padding: 10px 25px;
                    display: flex;
                    cursor: pointer;

                    p {
                        flex: 1;
                        font-size: 14px;
                        color: #4adf83;
                    }

                    i {
                        color: #4a4a4a;
                    }
                }

                .sinArchivos {
                    padding: 15px 0;
                    text-align: center;

                    p {
                        color: #abb2b9;
                        font-size: 14px;
                    }
                }
            }

            .notifcaciones {
                height: 120px;

                &>div {
                    height: 45%;
                    display: flex;
                    align-items: center;
                    margin-left: 30px;
                    font-size: 15px;
                    cursor: pointer;

                    .icon {
                        margin-right: 30px;
                    }
                }

                .silenciar {
                    border-bottom: 1px solid #eaeded;
                }
            }

            .infoPhone {
                height: 140px;

                &>div {
                    margin-left: 30px;
                }

                .phone {
                    border-bottom: 1px solid #eaeded;
                    height: 55%;
                    font-size: 15px;

                    p {
                        padding-top: 10px;
                        color: #4adf83;
                    }

                    h3 {
                        margin-top: 10px;
                    }
                }

                .numPhone {
                    h3 {
                        font-size: 15px;
                    }

                    height: 40%;
                    display: flex;
                    align-items: center;
                }
            }

            .bloquear,
            .reportar,
            .eliminar {
                height: 60px;
                display: flex;
                align-items: center;
                font-size: 15px;
                cursor: pointer;

                i {
                    margin: 0 25px;
                }

                &:hover {
                    background-color: #f2f4f4;
                }
            }

            .reportar,
            .eliminar {
                color: red;
            }

            .eliminar {
                margin-bottom: 30px;
            }

            @include scrollBar;

        }
    }
}