@mixin Menuchat {
  .ocultarMenu {
    display: none;
  }

  .menuChat {
    width: 170px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    position: absolute;
    right: 20px;
    top: 55px;
    z-index: 1000;

    .menulist {
      list-style: none;
      padding: 9px 0;

      .optionsmenu {
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #F8F9F9;
        }

        span {
          color: #4a4a4a;
          margin-left: 25px;
        }
      }
    }
  }
}