@import "infoContacto";
@import "scrollBar";

@mixin nuevaConversacion {
  .todo {
    flex: 70%;
    display: flex;
    overflow: hidden;

    h3 {
      font-weight: 400;
      flex: 1;
    }

    .containert {
      width: 100%;
      display: grid;
      grid-template-rows: 60px 1fr 62px;

      .header {
        background-color: #ededed;
        padding: 10px 16px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-top: none;

        .options {
          height: 40px;
          display: grid;
          grid-template-columns: 1fr 140px;

          .infoContact {
            display: flex;
            width: 95%;
            flex-grow: 1;
            cursor: pointer;

            .perfilIcon {
              width: 55px;
            }

            .nameUser {
              display: flex;
              align-items: center;

              h4 {
                font-weight: 400;
              }
            }
          }

          .setthings {
            display: flex;
            justify-content: space-between;
            color: #4a4a4a;

            .clic {
              transform: rotate(45deg);
            }

            button {
              padding: 8px;
            }
          }
        }
      }

      .mensajes {
        background-color: #e5ddd5;
        position: relative;
        display: flex;
        justify-content: center;
        color: #303030;
        overflow: hidden;

        .sectionMensage {
          width: 100%;
          padding: 0 40px;
          display: flex;
          flex-direction: column-reverse;
          align-items: flex-end;
          z-index: 1000;
          overflow-y: auto;
          max-height: 97%;

          .dia {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

            p {
              position: sticky;
              margin-top: 4px;
              padding: 6px 10px;
              border-radius: 10px;
              box-shadow: 1px 4px 7px -6px black;
              background-color: rgba(225, 245, 254, 0.92);
            }
          }

          .info {
            font-size: 13px;
            box-shadow: 1px 4px 7px -6px black;
            background-color: rgba(255, 245, 196, 0.95);
            padding: 5px 10px;
            border-radius: 8px;
            margin-bottom: 10px;
            text-align: center;

            i {
              font-size: 13px;
            }
          }

          .newMensaje {
            max-width: 70%;
            padding: 3px;
            margin-bottom: 3px;
            border-radius: 8px;
            background-color: rgb(210, 250, 179);
            box-shadow: 1px 4px 7px -6px black;
            padding: 5px;

            .text {
              font-size: 15px;
            }

            .visto {
              font-size: 11px;
              display: flex;
              justify-content: flex-end;

              p {
                white-space: nowrap;
              }

              i {
                font-size: 18px;
                color: #4fc3f7;
              }

              p {
                opacity: 0.92;
                margin-right: 3px;
              }
            }
          }

          @include scrollBar;

          &::-webkit-scrollbar-thumb {
            background-color: #AEB6BF;
          }
        }


      }

      .fondo {
        position: absolute;
        opacity: 0.07;
        height: 100%;
        width: 100%;
        background-image: url("../../components/images/fondo.png");
      }
    }

    .escribirMensaje {
      padding: 5px 10px;
      background-color: #ededed;

      .necesari {
        height: 52px;
        display: flex;


        .iconos {
          padding: 12px 10px;

          i {
            cursor: pointer;
            color: #808b96;
            font-size: 30px;
          }
        }

        .nuevoMensaje {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          .textField {
            background-color: white;
            border-radius: 25px;
            border: none;
            width: 99%;
            padding: 10px 0;
            overflow: hidden;
          }

          label {
            position: absolute;
            margin-left: 18px;
            color: #85929e;
            font-size: 15px;
          }

          input {
            background-color: transparent;
            outline: none;
            width: 95%;
            margin-left: 16px;
            font-size: 15px;
            color: #5d6d7e;
            border: none;
            position: relative;
            overflow: hidden;
          }
        }
      }
    }

    @include infoContacto;
  }
}