 @import "scrollBar";

 @mixin nuevoChat {

     .nuevoChat {
         width: 100%;
         height: 100%;
         display: grid;
         grid-template-rows: 108px 49px 1fr;

         .title {
             height: 108px;
             padding: 0px 20px 0 23px;
             background-color: #00BfA5;
             color: #fff;

             .newChat {
                 height: 85%;
                 display: flex;
                 align-items: flex-end;

                 i {
                     margin-right: 30px;
                     cursor: pointer;
                 }

                 h3 {
                     font-weight: 500;
                     margin-bottom: 2px;
                 }
             }
         }

         .contactsPhone {
             overflow-y: auto;
             background-color: #fff;

             .nuevoGrupo {
                 height: 73px;
                 border-bottom: 1px solid #EAEDED;
                 cursor: pointer;
                 display: grid;
                 grid-template-columns: 78px 1fr;
                 align-items: center;

                 .avatar {
                     padding: 0 15px;

                     .avatarGruop {
                         width: 48px;
                         height: 48px;
                         background-color: #00BfA5;
                     }
                 }

                 h3 {
                     font-size: 18px;
                     font-weight: 400;
                 }

                 &:hover {
                     background-color: #F2F4F4;
                 }
             }

             .frecuentes {
                 padding: 25px 35px;
                 color: #1E8449;
                 font-size: 16px;
                 font-weight: 450;
             }

             .ulContacts {
                 list-style: none;

                 .listContactos {
                     height: 78px;
                     display: flex;
                     align-items: center;
                     cursor: pointer;

                     .avatar {
                         padding: 0 15px;

                         .avatarGruop {
                             width: 48px;
                             height: 48px;
                             background-color: #00BfA5;
                         }
                     }

                     .datosContact {
                         height: 100%;
                         width: 100%;
                         display: inherit;
                         flex-direction: column;
                         justify-content: center;
                         border-top: 1px solid #EAEDED;

                         h2 {
                             font-size: 18px;
                             font-weight: 400;
                         }

                         p {
                             opacity: .7;
                             font-size: 14px;
                         }


                     }

                     &:hover {
                         background-color: #f2f4f4;
                     }
                 }
             }

             @include scrollBar;
         }

         .notResults {
             height: 100%;
             background-color: #EBEDEF;

             p {
                 text-align: center;
                 padding: 50px 50px;
                 color: #ABB2B9;
                 font-size: 14px;
             }
         }
     }

 }