@import "scrollBar";

@mixin perfil {
    .perfil {
        background-color: #ededed;
        display: grid;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .title {
            height: 100px;
            padding: 0px 20px 0 23px;
            background-color: #00BfA5;
            color: #fff;

            .newChat {
                height: 85%;
                display: flex;
                align-items: flex-end;

                .arrow {
                    cursor: pointer;
                }

                i {
                    margin-right: 30px;
                }

                h3 {
                    font-weight: 500;
                    margin-bottom: 2px;
                }
            }
        }

        .perfilItachi {
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            .perfilPhoto {
                height: 180px;
                width: 180px;
                cursor: pointer;

                .avatar {
                    height: 100%;
                    width: 100%;
                    position: relative;
                }

                .foto {
                    display: none;
                }

                &:hover {
                    .foto {
                        transform: translateY(-180px);
                        position: absolute;
                        height: 180px;
                        width: 180px;
                        border-radius: 50%;
                        background-color: rgba($color: #494646, $alpha: .75);
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;

                        .hover {
                            color: #fff;
                            width: 100px;
                            height: 80px;
                            text-align: center;

                            i {
                                margin-top: 13px;
                                margin-bottom: 10px;
                            }

                            p {
                                font-size: 13px;
                            }
                        }
                    }
                }

            }

        }

        .yourName {
            background-color: #fff;
            z-index: 100;
            height: 90px;
            box-shadow: 2px 10px 11px -17px black;

            p {
                margin-left: 30px;
                margin-top: 15px;
                color: #3bb95b;
                font-size: 14px;
            }

            .nombre {
                margin: 15px 30px 0px 30px;
                display: flex;
                align-items: center;

                h3 {
                    font-weight: 400;
                    flex: 1;
                    columns: #4a4a4a;
                    font-size: 18px;
                    opacity: .7;
                }

                i {
                    font-size: 21px;
                    color: #808B96;
                }
            }
        }

        .nombrePerfil {
            background-color: #ededed;
            height: 75px;

            p {
                font-size: 13px;
                color: #4a4a4a;
                margin: 10px 30px;
                opacity: .5;
            }
        }

        @include scrollBar;

    }
}