.section1 .contMenssge .menssage .cdm .title, .section1 .contMenssge .menssage .cdm .callMenssage {
  margin-bottom: 20px;
}

.section1 {
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .contMenssge {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1 .contMenssge .menssage {
  width: 100%;
  font-family: "Segoe UI";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .contMenssge .menssage .cdm {
  height: 60%;
  width: 80%;
}

.section1 .contMenssge .menssage .cdm .title {
  color: #1c1e21;
  font-weight: 100;
}

.section1 .contMenssge .menssage .cdm .callMenssage {
  color: #282828;
}

.section1 .contMenssge .menssage .cdm .cargos {
  font-size: 12px;
  opacity: .3;
}

.section1 .contMenssge .menssage .cdm .platafors {
  margin-top: 40px;
}

.section1 .contMenssge .menssage .cdm .platafors ul {
  list-style: none;
}

.section1 .contMenssge .menssage .cdm .platafors ul li {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  color: #1ebea5;
}

.section1 .contMenssge .menssage .cdm .platafors ul li .a {
  font-size: 20px;
  margin-right: 5px;
}

.section1 .contMenssge .menssageImage {
  width: 70%;
}

.section1 .contMenssge .menssageImage img {
  width: 100%;
}

.section2 {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  font-family: "Segoe UI";
  color: #282828;
}

.section2 .aplicacion {
  background-color: #d0e9ea;
  overflow: hidden;
  text-align: center;
  height: 790px;
}

.section2 .aplicacion .cargosAdd {
  display: none;
}

.section2 .aplicacion .info {
  width: 74%;
  margin: 13%;
  text-align: center;
}

.section2 .aplicacion .info h2 {
  font-weight: 100;
  margin-bottom: 20px;
}

.section2 .aplicacion .info p {
  font-size: 14px;
  margin-bottom: 20px;
}

.section2 .aplicacion .info p span {
  color: #39b3ed;
}

.section2 .aplicacion img {
  width: 320px;
}

.section2 .seguridad {
  background-color: #edf8f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #282828;
}

.section2 .seguridad .seg {
  width: 75%;
  height: 80%;
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section2 .seguridad .seg .none {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: royalblue;
  margin-bottom: 20px;
}

.section2 .seguridad .seg h2 {
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.section2 .seguridad .seg .sifra {
  letter-spacing: .3px;
  font-size: 13px;
  margin-bottom: 10px;
}

.section2 .seguridad .seg .tema {
  font-size: 14px;
}

.funcones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 220px;
}

.funcones a {
  font-family: "Segoe UI";
  color: #1ebea5;
  text-decoration: none;
  font-weight: 600;
  padding: 17px;
  text-align: center;
  width: 200px;
  border: 2px solid #1ebea5;
  border-radius: 40px;
}

@media screen and (max-width: 1096px) {
  .section1 .contMenssge {
    width: 700px;
  }
  .section1 .contMenssge .menssage {
    width: 75%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .section1 .contMenssge .menssage .cdm {
    margin: 40px;
    width: 75%;
  }
  .section1 .contMenssge .menssage .cdm .cargos {
    display: none;
  }
  .section2 .aplicacion {
    height: 780px;
  }
}

@media screen and (max-width: 767px) {
  .section1 {
    padding-top: 0px;
  }
  .section1 .contMenssge {
    width: 100%;
    height: 630px;
    background-color: #1ebea5;
    display: -ms-grid;
    display: grid;
    overflow: hidden;
  }
  .section1 .contMenssge .menssage {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section1 .contMenssge .menssage .cdm {
    width: 90%;
    margin: 0;
  }
  .section1 .contMenssge .menssage .cdm .title {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }
  .section1 .contMenssge .menssage .cdm .callMenssage {
    font-size: 15px;
    color: #fff;
    text-align: center;
  }
  .section1 .contMenssge .menssage .googlePlay {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    background-image: url("../images//googlePlay.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .section1 .contMenssge .menssage .platafors {
    display: none;
  }
  .section1 .contMenssge .menssageImage {
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }
  .section1 .contMenssge .menssageImage img {
    width: 40%;
  }
  .section2 {
    display: inline;
  }
  .section2 .aplicacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 .aplicacion .info {
    width: 88%;
    margin: 30px;
  }
  .section2 .aplicacion .cargosAdd {
    width: 90%;
    margin-top: 10px;
    display: block;
    font-size: 12px;
    opacity: .6;
  }
  .section2 .seguridad .seg {
    width: 85%;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
  }
}

@-webkit-keyframes arrow {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes arrow {
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.father {
  font-family: "Segoe UI";
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.father .contactos {
  position: relative;
}

.father .contactos .atras {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  -webkit-animation: mover .1s ease-out;
          animation: mover .1s ease-out;
}

.father .contactos .atras .nuevoChat {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 108px 49px 1fr;
      grid-template-rows: 108px 49px 1fr;
}

.father .contactos .atras .nuevoChat .title {
  height: 108px;
  padding: 0px 20px 0 23px;
  background-color: #00BfA5;
  color: #fff;
}

.father .contactos .atras .nuevoChat .title .newChat {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.father .contactos .atras .nuevoChat .title .newChat i {
  margin-right: 30px;
  cursor: pointer;
}

.father .contactos .atras .nuevoChat .title .newChat h3 {
  font-weight: 500;
  margin-bottom: 2px;
}

.father .contactos .atras .nuevoChat .contactsPhone {
  overflow-y: auto;
  background-color: #fff;
}

.father .contactos .atras .nuevoChat .contactsPhone .nuevoGrupo {
  height: 73px;
  border-bottom: 1px solid #EAEDED;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 78px 1fr;
      grid-template-columns: 78px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.father .contactos .atras .nuevoChat .contactsPhone .nuevoGrupo .avatar {
  padding: 0 15px;
}

.father .contactos .atras .nuevoChat .contactsPhone .nuevoGrupo .avatar .avatarGruop {
  width: 48px;
  height: 48px;
  background-color: #00BfA5;
}

.father .contactos .atras .nuevoChat .contactsPhone .nuevoGrupo h3 {
  font-size: 18px;
  font-weight: 400;
}

.father .contactos .atras .nuevoChat .contactsPhone .nuevoGrupo:hover {
  background-color: #F2F4F4;
}

.father .contactos .atras .nuevoChat .contactsPhone .frecuentes {
  padding: 25px 35px;
  color: #1E8449;
  font-size: 16px;
  font-weight: 450;
}

.father .contactos .atras .nuevoChat .contactsPhone .ulContacts {
  list-style: none;
}

.father .contactos .atras .nuevoChat .contactsPhone .ulContacts .listContactos {
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.father .contactos .atras .nuevoChat .contactsPhone .ulContacts .listContactos .avatar {
  padding: 0 15px;
}

.father .contactos .atras .nuevoChat .contactsPhone .ulContacts .listContactos .avatar .avatarGruop {
  width: 48px;
  height: 48px;
  background-color: #00BfA5;
}

.father .contactos .atras .nuevoChat .contactsPhone .ulContacts .listContactos .datosContact {
  height: 100%;
  width: 100%;
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #EAEDED;
}

.father .contactos .atras .nuevoChat .contactsPhone .ulContacts .listContactos .datosContact h2 {
  font-size: 18px;
  font-weight: 400;
}

.father .contactos .atras .nuevoChat .contactsPhone .ulContacts .listContactos .datosContact p {
  opacity: .7;
  font-size: 14px;
}

.father .contactos .atras .nuevoChat .contactsPhone .ulContacts .listContactos:hover {
  background-color: #f2f4f4;
}

.father .contactos .atras .nuevoChat .contactsPhone::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.father .contactos .atras .nuevoChat .contactsPhone::-webkit-scrollbar-thumb {
  background-color: #D6DBDF;
}

.father .contactos .atras .nuevoChat .notResults {
  height: 100%;
  background-color: #EBEDEF;
}

.father .contactos .atras .nuevoChat .notResults p {
  text-align: center;
  padding: 50px 50px;
  color: #ABB2B9;
  font-size: 14px;
}

.father .contactos .atras .perfil {
  background-color: #ededed;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.father .contactos .atras .perfil .title {
  height: 100px;
  padding: 0px 20px 0 23px;
  background-color: #00BfA5;
  color: #fff;
}

.father .contactos .atras .perfil .title .newChat {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.father .contactos .atras .perfil .title .newChat .arrow {
  cursor: pointer;
}

.father .contactos .atras .perfil .title .newChat i {
  margin-right: 30px;
}

.father .contactos .atras .perfil .title .newChat h3 {
  font-weight: 500;
  margin-bottom: 2px;
}

.father .contactos .atras .perfil .perfilItachi {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.father .contactos .atras .perfil .perfilItachi .perfilPhoto {
  height: 180px;
  width: 180px;
  cursor: pointer;
}

.father .contactos .atras .perfil .perfilItachi .perfilPhoto .avatar {
  height: 100%;
  width: 100%;
  position: relative;
}

.father .contactos .atras .perfil .perfilItachi .perfilPhoto .foto {
  display: none;
}

.father .contactos .atras .perfil .perfilItachi .perfilPhoto:hover .foto {
  -webkit-transform: translateY(-180px);
          transform: translateY(-180px);
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: rgba(73, 70, 70, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.father .contactos .atras .perfil .perfilItachi .perfilPhoto:hover .foto .hover {
  color: #fff;
  width: 100px;
  height: 80px;
  text-align: center;
}

.father .contactos .atras .perfil .perfilItachi .perfilPhoto:hover .foto .hover i {
  margin-top: 13px;
  margin-bottom: 10px;
}

.father .contactos .atras .perfil .perfilItachi .perfilPhoto:hover .foto .hover p {
  font-size: 13px;
}

.father .contactos .atras .perfil .yourName {
  background-color: #fff;
  z-index: 100;
  height: 90px;
  -webkit-box-shadow: 2px 10px 11px -17px black;
          box-shadow: 2px 10px 11px -17px black;
}

.father .contactos .atras .perfil .yourName p {
  margin-left: 30px;
  margin-top: 15px;
  color: #3bb95b;
  font-size: 14px;
}

.father .contactos .atras .perfil .yourName .nombre {
  margin: 15px 30px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.father .contactos .atras .perfil .yourName .nombre h3 {
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-columns: #4a4a4a;
          columns: #4a4a4a;
  font-size: 18px;
  opacity: .7;
}

.father .contactos .atras .perfil .yourName .nombre i {
  font-size: 21px;
  color: #808B96;
}

.father .contactos .atras .perfil .nombrePerfil {
  background-color: #ededed;
  height: 75px;
}

.father .contactos .atras .perfil .nombrePerfil p {
  font-size: 13px;
  color: #4a4a4a;
  margin: 10px 30px;
  opacity: .5;
}

.father .contactos .atras .perfil::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.father .contactos .atras .perfil::-webkit-scrollbar-thumb {
  background-color: #D6DBDF;
}

.father .contactos .principal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.father .contactos .principal .secundario {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 49px 1fr;
      grid-template-rows: 60px 49px 1fr;
}

.father .contactos .principal .secundario .header {
  position: relative;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ededed;
}

.father .contactos .principal .secundario .header .avatar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.father .contactos .principal .secundario .header .avatar .perfil {
  cursor: pointer;
}

.father .contactos .principal .secundario .header .obtions {
  width: 140px;
  height: 40px;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.father .contactos .principal .secundario .chat {
  border-right: 1px solid #D5DBDB;
  overflow: hidden;
}

.father .contactos .principal .secundario .chat .noTcontac {
  padding: 50px 30px;
}

.father .contactos .principal .secundario .chat .noTcontac p {
  color: #ABB2B9;
  font-size: 14px;
}

.father .contactos .principal .secundario .chat .listaDeContacts {
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts {
  cursor: pointer;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .avatar {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .avatar .perfil {
  height: 49px;
  width: 49px;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser {
  height: 100%;
  width: 82%;
  border-bottom: 1px solid #EAEDED;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser .datosContact {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser .datosContact h3 {
  font-weight: 500;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser .datosContact p {
  font-size: 12px;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser .date {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser .date .recado {
  color: #808B96;
  font-size: 14px;
  font-weight: 400;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser .date span {
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser .date span p {
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  background-color: #06d755;
  color: #fff;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel .datosUser .date span i {
  color: #ABB2B9;
  width: 18px;
  height: 18px;
  font-size: 30px;
  margin-left: 5px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel:hover {
  background-color: #f2f4f4;
}

.father .contactos .principal .secundario .chat .listaDeContacts .vistaContacts .daniel:hover span {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.father .contactos .principal .secundario .chat .listaDeContacts::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.father .contactos .principal .secundario .chat .listaDeContacts::-webkit-scrollbar-thumb {
  background-color: #D6DBDF;
}

.father .contactos .principal .secundario .ocultarMenu {
  display: none;
}

.father .contactos .principal .secundario .menuChat {
  width: 170px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: absolute;
  right: 20px;
  top: 55px;
  z-index: 1000;
}

.father .contactos .principal .secundario .menuChat .menulist {
  list-style: none;
  padding: 9px 0;
}

.father .contactos .principal .secundario .menuChat .menulist .optionsmenu {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.father .contactos .principal .secundario .menuChat .menulist .optionsmenu:hover {
  background-color: #F8F9F9;
}

.father .contactos .principal .secundario .menuChat .menulist .optionsmenu span {
  color: #4a4a4a;
  margin-left: 25px;
}

.father .disabled {
  background-color: #f7f7f7;
}

.father .active {
  background-color: #fff;
  -webkit-box-shadow: -1px 1px 10px -6px black;
          box-shadow: -1px 1px 10px -6px black;
}

.father .search {
  border-right: 1px solid #D5DBDB;
  height: 35px;
  padding: 7px 15px;
  z-index: 800;
}

.father .search .searchChat {
  color: #85929E;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 35px 1fr 35px;
      grid-template-columns: 35px 1fr 35px;
}

.father .search .searchChat i {
  cursor: pointer;
}

.father .search .searchChat .iconos {
  width: 20px;
  height: 24px;
  padding-left: 16px;
  padding-top: 3px;
}

.father .search .searchChat .iconos .arrow {
  -webkit-animation: arrow .3s;
          animation: arrow .3s;
  color: #3498DB;
}

.father .search .searchChat .iconLupa {
  font-size: 20px;
}

.father .search .searchChat .campoTexto {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  width: 90%;
}

.father .search .searchChat .campoTexto label {
  position: absolute;
  font-size: 14px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.father .search .searchChat .campoTexto input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
}

.father .search .searchChat .close {
  font-size: 18px;
  font-weight: 300;
}

.father .todo {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.father .todo h3 {
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.father .todo .containert {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 62px;
      grid-template-rows: 60px 1fr 62px;
}

.father .todo .containert .header {
  background-color: #ededed;
  padding: 10px 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
}

.father .todo .containert .header .options {
  height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 140px;
      grid-template-columns: 1fr 140px;
}

.father .todo .containert .header .options .infoContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}

.father .todo .containert .header .options .infoContact .perfilIcon {
  width: 55px;
}

.father .todo .containert .header .options .infoContact .nameUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.father .todo .containert .header .options .infoContact .nameUser h4 {
  font-weight: 400;
}

.father .todo .containert .header .options .setthings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #4a4a4a;
}

.father .todo .containert .header .options .setthings .clic {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.father .todo .containert .header .options .setthings button {
  padding: 8px;
}

.father .todo .containert .mensajes {
  background-color: #e5ddd5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #303030;
  overflow: hidden;
}

.father .todo .containert .mensajes .sectionMensage {
  width: 100%;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1000;
  overflow-y: auto;
  max-height: 97%;
}

.father .todo .containert .mensajes .sectionMensage .dia {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.father .todo .containert .mensajes .sectionMensage .dia p {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 4px;
  padding: 6px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 4px 7px -6px black;
          box-shadow: 1px 4px 7px -6px black;
  background-color: rgba(225, 245, 254, 0.92);
}

.father .todo .containert .mensajes .sectionMensage .info {
  font-size: 13px;
  -webkit-box-shadow: 1px 4px 7px -6px black;
          box-shadow: 1px 4px 7px -6px black;
  background-color: rgba(255, 245, 196, 0.95);
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.father .todo .containert .mensajes .sectionMensage .info i {
  font-size: 13px;
}

.father .todo .containert .mensajes .sectionMensage .newMensaje {
  max-width: 70%;
  padding: 3px;
  margin-bottom: 3px;
  border-radius: 8px;
  background-color: #d2fab3;
  -webkit-box-shadow: 1px 4px 7px -6px black;
          box-shadow: 1px 4px 7px -6px black;
  padding: 5px;
}

.father .todo .containert .mensajes .sectionMensage .newMensaje .text {
  font-size: 15px;
}

.father .todo .containert .mensajes .sectionMensage .newMensaje .visto {
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.father .todo .containert .mensajes .sectionMensage .newMensaje .visto p {
  white-space: nowrap;
}

.father .todo .containert .mensajes .sectionMensage .newMensaje .visto i {
  font-size: 18px;
  color: #4fc3f7;
}

.father .todo .containert .mensajes .sectionMensage .newMensaje .visto p {
  opacity: 0.92;
  margin-right: 3px;
}

.father .todo .containert .mensajes .sectionMensage::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.father .todo .containert .mensajes .sectionMensage::-webkit-scrollbar-thumb {
  background-color: #D6DBDF;
}

.father .todo .containert .mensajes .sectionMensage::-webkit-scrollbar-thumb {
  background-color: #AEB6BF;
}

.father .todo .containert .fondo {
  position: absolute;
  opacity: 0.07;
  height: 100%;
  width: 100%;
  background-image: url("../../components/images/fondo.png");
}

.father .todo .escribirMensaje {
  padding: 5px 10px;
  background-color: #ededed;
}

.father .todo .escribirMensaje .necesari {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.father .todo .escribirMensaje .necesari .iconos {
  padding: 12px 10px;
}

.father .todo .escribirMensaje .necesari .iconos i {
  cursor: pointer;
  color: #808b96;
  font-size: 30px;
}

.father .todo .escribirMensaje .necesari .nuevoMensaje {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.father .todo .escribirMensaje .necesari .nuevoMensaje .textField {
  background-color: white;
  border-radius: 25px;
  border: none;
  width: 99%;
  padding: 10px 0;
  overflow: hidden;
}

.father .todo .escribirMensaje .necesari .nuevoMensaje label {
  position: absolute;
  margin-left: 18px;
  color: #85929e;
  font-size: 15px;
}

.father .todo .escribirMensaje .necesari .nuevoMensaje input {
  background-color: transparent;
  outline: none;
  width: 95%;
  margin-left: 16px;
  font-size: 15px;
  color: #5d6d7e;
  border: none;
  position: relative;
  overflow: hidden;
}

.father .todo .infoUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.father .todo .infoUser .header {
  background-color: #ededed;
  padding: 10px 16px;
}

.father .todo .infoUser .header .infoContacto {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4a4a4a;
}

.father .todo .infoUser .header .infoContacto span {
  width: 40px;
  text-align: center;
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.father .todo .infoUser .header .infoContacto span i {
  cursor: pointer;
}

.father .todo .infoUser .header .infoContacto .title {
  margin-left: 23px;
  margin-bottom: 5px;
}

.father .todo .infoUser .datosContacto {
  width: 370px;
  background-color: #ededed;
  overflow-y: auto;
}

.father .todo .infoUser .datosContacto > div {
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: -1px 6px 10px -6px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 6px 10px -6px rgba(0, 0, 0, 0.2);
}

.father .todo .infoUser .datosContacto .avatarContac {
  height: 290px;
}

.father .todo .infoUser .datosContacto .avatarContac h3 {
  margin-left: 30px;
}

.father .todo .infoUser .datosContacto .avatarContac .perfil {
  padding: 20px 90px;
}

.father .todo .infoUser .datosContacto .avatarContac .perfil .avatar {
  height: 180px;
  width: 180px;
  cursor: pointer;
}

.father .todo .infoUser .datosContacto .documentos {
  height: 120px;
}

.father .todo .infoUser .datosContacto .documentos .enlaces {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.father .todo .infoUser .datosContacto .documentos .enlaces p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  color: #4adf83;
}

.father .todo .infoUser .datosContacto .documentos .enlaces i {
  color: #4a4a4a;
}

.father .todo .infoUser .datosContacto .documentos .sinArchivos {
  padding: 15px 0;
  text-align: center;
}

.father .todo .infoUser .datosContacto .documentos .sinArchivos p {
  color: #abb2b9;
  font-size: 14px;
}

.father .todo .infoUser .datosContacto .notifcaciones {
  height: 120px;
}

.father .todo .infoUser .datosContacto .notifcaciones > div {
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  font-size: 15px;
  cursor: pointer;
}

.father .todo .infoUser .datosContacto .notifcaciones > div .icon {
  margin-right: 30px;
}

.father .todo .infoUser .datosContacto .notifcaciones .silenciar {
  border-bottom: 1px solid #eaeded;
}

.father .todo .infoUser .datosContacto .infoPhone {
  height: 140px;
}

.father .todo .infoUser .datosContacto .infoPhone > div {
  margin-left: 30px;
}

.father .todo .infoUser .datosContacto .infoPhone .phone {
  border-bottom: 1px solid #eaeded;
  height: 55%;
  font-size: 15px;
}

.father .todo .infoUser .datosContacto .infoPhone .phone p {
  padding-top: 10px;
  color: #4adf83;
}

.father .todo .infoUser .datosContacto .infoPhone .phone h3 {
  margin-top: 10px;
}

.father .todo .infoUser .datosContacto .infoPhone .numPhone {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.father .todo .infoUser .datosContacto .infoPhone .numPhone h3 {
  font-size: 15px;
}

.father .todo .infoUser .datosContacto .bloquear,
.father .todo .infoUser .datosContacto .reportar,
.father .todo .infoUser .datosContacto .eliminar {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.father .todo .infoUser .datosContacto .bloquear i,
.father .todo .infoUser .datosContacto .reportar i,
.father .todo .infoUser .datosContacto .eliminar i {
  margin: 0 25px;
}

.father .todo .infoUser .datosContacto .bloquear:hover,
.father .todo .infoUser .datosContacto .reportar:hover,
.father .todo .infoUser .datosContacto .eliminar:hover {
  background-color: #f2f4f4;
}

.father .todo .infoUser .datosContacto .reportar,
.father .todo .infoUser .datosContacto .eliminar {
  color: red;
}

.father .todo .infoUser .datosContacto .eliminar {
  margin-bottom: 30px;
}

.father .todo .infoUser .datosContacto::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.father .todo .infoUser .datosContacto::-webkit-scrollbar-thumb {
  background-color: #D6DBDF;
}

.father .combersacion {
  background-color: #f8f9fa;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.father .combersacion .info {
  width: 55%;
  height: 100%;
  color: #4a4a4a;
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.father .combersacion .info .information {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.father .combersacion .info .information img {
  width: 50%;
}

.father .combersacion .info .information h1 {
  font-weight: 300;
  margin-bottom: 10px;
}

.father .combersacion .info .information .info {
  font-size: 14px;
  opacity: .5;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #EAEDED;
}

.father .combersacion .info .information .mac {
  font-size: 14px;
  opacity: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  padding-bottom: 30px;
}

.father .combersacion .info .information .mac i {
  margin-right: 5px;
}

.father .combersacion .info .information .mac span {
  color: #4adf83;
}

.father .combersacion::after {
  content: "";
  width: 100%;
  height: 6px;
  background-color: #4adf83;
  bottom: 0;
  position: absolute;
}

.father::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.father::-webkit-scrollbar-thumb {
  background-color: #D6DBDF;
}

@-webkit-keyframes mover {
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes mover {
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes atras {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes atras {
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.loader {
  background-color: #f8f9fa;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader .lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.loader .lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  border: 4px solid #4a4a4a;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4a4a4a transparent transparent transparent;
}

.loader .lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.loader .lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.loader .lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=mainPages.css.map */