* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #D6DBDF;
}